.disclaimer {
  display: flex;
  justify-content: center;
  padding: 36px 0;
  background: rgba(217, 217, 217, 0.22);
  h3 {
    color: #6F7885;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
  }
}