.product-card {
  max-width: 100%;
  margin-top: 48px;
  background: #fff;
  padding: 40px 80px;
  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &-logo {
      max-width: 100px;
    }
    &-sale {
      display: inline;
      width: 100%;
      &-title {
        position: absolute;
        left: 10%;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    img {
      max-width: 415px;
      max-height: 415px;
    }
    &_right {
      h2 {
        color: #344050;
        font-weight: 600;
        font-size: 37px;
        line-height: 45px;
        margin-bottom: 40px;
        max-width: 540px;
      }
      &-rating {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
      }
      &-prices {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-wrap: wrap;
        &_old-price {
          color: #94979c;
          position: relative;
          h3 {
            font-weight: 600;
            line-height: 17px;
            font-size: 32px;
            margin-bottom: 10px;
            sup {
              font-size: 20px;
            }
          }
          h3:before {
            content: '';
            border-bottom: 4px solid red;
            position: absolute;
            top: 0;
            left: -5px;
            width: 115px;
            height: 15%;
          }
          p {
            font-weight: 600;
            line-height: 27px;
          }
        }
        &_new-price {
          color: #344050;
          h3 {
            font-weight: 600;
            font-size: 52px;
            sup {
              font-size: 28px;
            }
          }
          p {
            font-size: 18px;
            font-weight: 600;
            color: #6f7885;
            text-align: right;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .product-card {
    &__content {
      img {
        max-width: 315px;
        max-height: 315px;
      }
      &_right {
        font-size: 28px;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .product-card {
    padding: 20px 40px;
    text-align: center;
    &__heading {
      &-logo {
        max-width: 50px;
      }
    }
    &__content {
      flex-direction: column;
      img {
        margin: 0 auto;
        max-width: 215px;
        max-height: 215px;
        margin-bottom: 20px;
      }
      &_right {
        h2 {
          font-size: 22px;
          line-height: 28px;
          margin: 0 auto;
          margin-bottom: 10px;
        }
        &-rating {
          justify-content: center;
        }
        &-prices {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          &_old-price {
            h3 {
              font-size: 28px;
            }
            font-size: 14px;
          }
          &_new-price {
            h3 {
              font-size: 32px;
              sup {
                font-size: 28px;
              }
            }
            p {
              text-align: center;
            }
          }
        }
      }
    }
  }
}
