.table-settings {
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_stars {

    }
  }
}

@media screen and (max-width: 720px) {
  .table-settings {
    &__top {
      flex-direction: column;
      align-items: center;
    }
    &__bottom {
      flex-direction: column-reverse;
    }
  }
}