.App {
  padding-top: 15px;
  padding: 0 120px;
  margin: 0 auto;
  a {
    color: #344050;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 940px) {
  .App {
    padding: 0 20px;
  }
}
