.sort {
  display: flex;
  align-items: center;
  p {
    color: #4D5969;
    margin-right: 15px;
  }
  ul {
    display: flex;
    list-style: none;
    li {
      margin-right: 15px;
      color: #2A7BE4;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 720px) {
  .sort {
    width: 100%;
    justify-content: space-between;
  }
}
